.botones{
    padding-left: 5px;
    width: 16%;
    height: 16%;
    margin-bottom: -42%;
    flex-wrap: wrap;
}

.botones:hover{
    transform: scale(1.1);
    transform: translateY(-2px);
    box-shadow: 0 12px 16px #b73aff;
}

body{
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-size: cover;
}

.higuel{
    width: 16%;
    height: 16%;
    flex-wrap: wrap;
}
